{{ define "main" }}
<div class="main-container blog-container">
  <header class="page-header">
    <h1 class="page-title">{{ .Title }}</h1>
    <div class="page-description">{{ .Description }}</div>
  </header>
  
  <div class="blog-list-improved">
    {{ $paginator := .Paginate (where .Pages "Type" "posts") (default 6 .Site.Params.postsPerPage) }}
    {{ range $paginator.Pages }}
        <div class="blog-item-card">
          <div class="blog-item-content">
            <h3 class="blog-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            <div class="blog-date">{{ .Date.Format "January 2, 2006" }}</div>
            <a href="{{ .RelPermalink }}" class="read-more-btn">Read more</a>
          </div>
          {{ if .Params.card_image }}
            <div class="blog-item-image">
              {{ $cardImage := .Resources.GetMatch .Params.card_image }}
              {{ if $cardImage }}
                <img src="{{ $cardImage.RelPermalink }}" alt="{{ .Title }}">
              {{ else }}
                <img src="{{ .Params.card_image }}" alt="{{ .Title }}">
              {{ end }}
            </div>
          {{ else if .Params.featured_image }}
            <div class="blog-item-image">
              {{ $image := .Resources.GetMatch .Params.featured_image }}
              {{ if $image }}
                <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}">
              {{ else }}
                <img src="{{ .Params.featured_image }}" alt="{{ .Title }}">
              {{ end }}
            </div>
          {{ end }}
        </div>
    {{ end }}
    </div>
    
    <!-- Pagination -->
    {{ if gt $paginator.TotalPages 1 }}
    <div class="pagination">
      {{ if $paginator.HasPrev }}
        <a href="{{ $paginator.Prev.URL }}" class="pagination-item">&laquo; Previous</a>
      {{ end }}
      
      {{ range $paginator.Pagers }}
        {{ if eq . $paginator }}
          <span class="pagination-item pagination-active">{{ .PageNumber }}</span>
        {{ else }}
          <a href="{{ .URL }}" class="pagination-item">{{ .PageNumber }}</a>
        {{ end }}
      {{ end }}
      
      {{ if $paginator.HasNext }}
        <a href="{{ $paginator.Next.URL }}" class="pagination-item">Next &raquo;</a>
      {{ end }}
    </div>
    {{ end }}
</div>
{{ end }}
